name: Docker Image CI


on: [push]

jobs:

  build:
    name: build
    runs-on: ubuntu-latest

    steps:
    # Checkout.
    - uses: actions/checkout@v1

    # build the Docker image.
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag subaniprasad/go_app
    
    # Login to Docker, Docker hub credentials are stored in secrets.
    - name: Login to Docker Hub
      run: docker login --username $USERNAME --password $PASSWORD
      env:
        USERNAME: ${{secrets.DOCKER_HUB_USERNAME}}
        PASSWORD: ${{secrets.DOCKER_HUB_PASSWORD}}
    
    # Image pushing to Docker hub registry
    - name: Push Image to Docker registry
      run: docker push subaniprasad/go_app
  
  deploy:
    needs: [build]
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to Docker swarm
      uses: appleboy/ssh-action@master
      with:
        host: 13.232.253.91
        username:  ${{ secrets.docker_user }}
        key: ${{ secrets.swarmLaunchKey }}
        port: 22
        script: |
          docker pull subaniprasad/go_app
          docker service update --image subaniprasad/go_app
          
          
    
